button {
  outline: none;
  border: 0;
  cursor: pointer;
}

ul {
  padding: 0;
}

.habit-header {
  background-color: wheat;
  padding-left: 5rem;
  display: flex;
  align-items: center;
}

.habit-header-icon {
  color: forestgreen;
  margin-right: 1rem;
  font-size: 2rem;
}

.habit-header .habit-count {
  margin-left: 1rem;
}

.habit-title {
  font-weight: 500;
}

.habit-add-form {
  margin: 1rem 0.5rem 1rem 5rem;
}

.habit-add-input {
  width: 15rem;
  font-size: 1.5rem;
}

.habit-add-button {
  font-size: 1.5rem;
  background-color: rgb(1, 155, 1);
  color: white;
  margin-left: 0.2rem;
}

.habit-list {
  list-style: none;
  font-size: 2rem;
  margin: 1rem 0.5rem 1rem 5rem;
}

.habit-count {
  display: inline-block;
  border-radius: 50%;
  background-color: darkseagreen;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  color: white;
  margin-left: 0.2em;
  margin-right: 0.5em;
  font-size: 2rem;
}

.habit-button {
  font-size: 2rem;
  margin: 0 0.1rem;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  color: darkred;
}

.habit-reset-all {
  margin-left: 5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  background-color: rgb(7, 156, 124);
  color: white;
  padding: 0.2rem 1rem;
}
