button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.habit-list {
  list-style: none;
  padding: 0.5rem;
  font-size: 2rem;
}

.habit-count {
  display: inline-block;
  border-radius: 50%;
  background-color: darkseagreen;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  color: white;
  margin-left: 0.2em;
  margin-right: 0.5em;
}

.habit-button {
  font-size: 2rem;
  margin: 0 0.1rem;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  color: darkred;
}
